@charset "UTF-8";
.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
.header--small {
  min-height: 250px;
}
.header__punchline {
  color: #fafafa;
  height: 500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__punchline--small {
  height: 250px;
}
.header__punchline--right {
  text-align: end;
}
.header__punchline--right h1 {
  margin-bottom: 40px;
  margin-top: auto;
}
.header__punchline h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  .header__punchline h1 {
    font-size: 4rem;
  }
}
.header__buttons {
  margin: 10px 0;
  padding: 0 10px;
}

.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.open > .dropdown-menu.show.fade {
  pointer-events: auto;
  opacity: 1;
}

.navbar .container {
  max-width: unset;
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1400px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
  }
}

.dropdown-menu.show {
  display: flex;
  justify-content: space-evenly;
  background-color: #212121;
  color: #fafafa;
}

.dropdown-menu > .menu-item > .dropdown-item {
  color: #fafafa;
}
.dropdown-menu > .menu-item > .dropdown-item:hover {
  background-color: unset;
  font-weight: bold;
}

.navbar-collapse > ul {
  text-align: center;
}

li.nav-item > ul {
  border: none;
  text-align: center;
  transition: all 1s;
  text-anchor: end;
  list-style: none;
}

.footer {
  color: #444;
  padding: 40px 0;
  background-color: #DDD;
}
.footer__title {
  color: #000;
}
.footer__divider {
  margin-bottom: 40px;
  border: 0.5px solid #CCC;
}
.footer__content {
  margin: 2rem 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  color: #444;
}
.footer__hashtag-cloud li {
  display: inline;
}
.footer .fab, .footer .fas {
  font-size: 2rem;
}

.credits {
  margin: 2rem 0;
}

.breadcrumb-container {
  display: flex;
  padding: unset;
  list-style: none;
  overflow: hidden;
  margin: 0 -18px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #212121;
  font-size: 0.75em;
}
@media (min-width: 768px) {
  .breadcrumb-container {
    justify-content: flex-start;
    flex-direction: row;
  }
}
.breadcrumb-container a {
  color: #212121;
}
.breadcrumb-container__item {
  margin: 0 20px;
  display: block;
  float: left;
  position: relative;
  z-index: 0;
  background-color: #CCC;
}
.breadcrumb-container__item span {
  margin-left: 8px;
}
.breadcrumb-container__item:first-child {
  background-color: #212121;
  border-radius: 0;
}
.breadcrumb-container__item:first-child a {
  color: #FFF;
}
@media (min-width: 768px) {
  .breadcrumb-container__item:first-child {
    background-color: #212121;
    border-radius: 0 0 0 8px;
    padding-left: 8px;
  }
  .breadcrumb-container__item:first-child::after {
    border-left: 30px solid #212121;
  }
  .breadcrumb-container__item:first-child::before {
    border: unset;
  }
}
.breadcrumb-container__item:last-child {
  background-color: #F7B32B;
  color: #212121;
}
@media (min-width: 768px) {
  .breadcrumb-container__item:last-child {
    border-radius: 0 0 8px 0;
    padding-right: 8px;
    margin-right: 0;
  }
  .breadcrumb-container__item:last-child::before {
    border-top: 13px solid #F7B32B;
    border-bottom: 13px solid #F7B32B;
  }
  .breadcrumb-container__item:last-child::after {
    border: unset;
  }
}
@media (min-width: 768px) {
  .breadcrumb-container__item::after {
    position: absolute;
    content: "";
    top: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 30px solid #CCC;
    z-index: 1;
  }
  .breadcrumb-container__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 13px solid #CCC;
    border-bottom: 13px solid #CCC;
    border-left: 30px solid transparent;
    z-index: 1;
  }
}

.breadcrumb-content {
  padding: 4px 16px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.section--small-padding-top {
  padding-top: 24px;
}
.section--small-padding-bottom {
  padding-bottom: 24px;
}
.section--generic > div {
  margin: 16px 0;
}
.section--generic h1, .section--generic h2, .section--generic h3, .section--generic h4, .section--generic h5, .section--generic h6 {
  font-size: 1.75rem;
}
.section--generic a {
  color: #212121;
}
.section__author {
  color: #587B7F;
}
.section__author a {
  color: #587B7F;
  font-weight: bolder;
}
.section__title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
}
.section__box {
  text-align: center;
  padding: 0 8px 12px 8px;
  border-radius: 0;
  order: 2;
}
.section__box > a {
  color: #587B7F;
}
@media (min-width: 768px) {
  .section__box {
    position: relative;
    margin: 16px 32px;
    padding: 12px 24px;
    border-left: 4px solid #587B7F;
    border-right: unset;
  }
}

.cite, .wp-block-pullquote cite, .wp-block-quote cite {
  font-style: italic;
  font-weight: bold;
}
.cite:before, .wp-block-pullquote cite:before, .wp-block-quote cite:before {
  content: "— ";
}

.wp-block-quote {
  margin-left: 8px;
  margin-bottom: 16px;
  padding: 8px 8px 8px 16px;
  border-left: 4px solid #CCC;
}
.wp-block-quote cite {
  color: #888;
}

.wp-block-pullquote {
  color: #212121;
  background-color: #CCC !important;
  display: block;
  flex-basis: 100%;
  padding: 32px;
}
.wp-block-pullquote cite {
  display: block;
  text-align: right;
}

.wp-block-code {
  display: block;
  flex-basis: 100%;
  padding: 16px;
  border: 1px solid #888;
}

.wp-block-calendar {
  flex-basis: 100%;
}

::-moz-selection {
  color: #fafafa;
  background: #FF220C;
}

::selection {
  color: #fafafa;
  background: #FF220C;
}

body {
  background-color: #fafafa;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bolder;
}

.sticky {
  background-color: #212121;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.navbar {
  transition: all 500ms;
  padding: 10px 25px;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar-nav {
  text-align: right;
}

.sections {
  min-height: 500px;
}
.dark {
  background-color: #212121;
}

.recent_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.post {
  border-bottom: 1px solid #CCC;
  margin: 1rem 2rem;
  padding: 2rem 0;
}
.post:last-child {
  border-bottom: none;
}
.post--dark {
  background-color: #212121;
  color: #fafafa;
  border-color: #fafafa;
}
.post__title {
  padding: 1rem;
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.post__title a {
  color: #587B7F;
}
.post__author {
  text-align: right;
  font-size: 0.9rem;
  margin: 10px 0;
  color: #333;
}
.post__author-image {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100%;
}

.list-group-item {
  background-color: unset;
  border: unset;
  border-bottom: 1px solid #CCC;
}
.list-group-item:last-child {
  border-bottom: unset;
}
.list-group-item a {
  color: unset;
}
.list-group-item a:hover {
  color: #587B7F;
}

.bg-green {
  background-color: #cddc39;
  color: #827717;
}

.bg-dark {
  background-color: #212121;
  color: #fafafa;
}

.bg-light {
  background-color: #fafafa;
  color: #212121;
}

/*# sourceMappingURL=home.css.map */
