.header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
.header--small {
  min-height: 250px;
}
.header__punchline {
  color: #fafafa;
  height: 500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__punchline--small {
  height: 250px;
}
.header__punchline--right {
  text-align: end;
}
.header__punchline--right h1 {
  margin-bottom: 40px;
  margin-top: auto;
}
.header__punchline h1 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}
.header__buttons {
  margin: 10px 0;
  padding: 0 10px;
}

.dropdown-menu.fade {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.open > .dropdown-menu.show.fade {
  pointer-events: auto;
  opacity: 1;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
  }
}

.dropdown-menu.show {
  display: flex;
  justify-content: space-evenly;
  background-color: #212121;
  color: #fafafa;
}

.dropdown-menu > .menu-item > .dropdown-item {
  color: #fafafa;
}
.dropdown-menu > .menu-item > .dropdown-item:hover {
  background-color: unset;
  font-weight: bold;
}

.navbar-collapse > ul {
  text-align: center;
}

li.nav-item > ul {
  border: none;
  text-align: center;
  transition: all 1s;
  text-anchor: end;
  list-style: none;
}

.footer {
  color: #444;
  padding: 40px 0;
  background-color: #DDD;
}
.footer__title {
  color: #000;
}
.footer__divider {
  margin-bottom: 40px;
  border: 0.5px solid #CCC;
}
.footer__content {
  margin: 2rem 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  color: #444;
}
.footer__hashtag-cloud li {
  display: inline;
}
.footer .fab, .footer .fas {
  font-size: 2rem;
}

.credits {
  margin: 2rem 0;
}

.breadcrumb-container {
  display: flex;
  padding: unset;
  list-style: none;
  overflow: hidden;
  margin: unset;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .breadcrumb-container {
    justify-content: flex-end;
  }
}
.breadcrumb-container a {
  color: #FFF;
}
.breadcrumb-container__item {
  margin: 0 36px 8px 0;
  display: block;
  float: left;
  position: relative;
  z-index: 0;
  background-color: #CCC;
}
.breadcrumb-container__item:first-child {
  background-color: #212121;
  border-radius: 0 0 0 20px;
  padding-left: 12px;
}
.breadcrumb-container__item:first-child a {
  color: #ff670f;
}
.breadcrumb-container__item:first-child::after {
  border-left: 30px solid #212121;
}
.breadcrumb-container__item:first-child::before {
  border: unset;
}
.breadcrumb-container__item:last-child {
  background-color: #ff670f;
  border-radius: 0 0 20px 0;
  padding-right: 12px;
  margin-right: 0;
  color: #fafafa;
}
.breadcrumb-container__item:last-child::before {
  border-top: 20px solid #ff670f;
  border-bottom: 20px solid #ff670f;
}
.breadcrumb-container__item:last-child::after {
  border: unset;
}
.breadcrumb-container__item::after {
  position: absolute;
  content: "";
  top: 0;
  right: -30px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #CCC;
  z-index: 1;
}
.breadcrumb-container__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  width: 0;
  height: 0;
  border-top: 20px solid #CCC;
  border-bottom: 20px solid #CCC;
  border-left: 30px solid transparent;
  z-index: 1;
}

.breadcrumb-content {
  padding: 8px 32px;
}
.breadcrumb-content a {
  color: #212121;
}

::-moz-selection {
  color: #fafafa;
  background: #ff670f;
}

::selection {
  color: #fafafa;
  background: #ff670f;
}

body {
  background-color: #fafafa;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bolder;
}

.sticky {
  background-color: #212121;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.navbar {
  transition: all 500ms;
  padding: 10px 25px;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar-nav {
  text-align: right;
}

.sections {
  min-height: 500px;
}
.dark {
  background-color: #212121;
}

.recent_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.post {
  border-bottom: 1px solid #CCC;
  margin: 1rem 2rem;
  padding: 2rem 0;
}
.post:last-child {
  border-bottom: none;
}
.post--dark {
  background-color: #212121;
  color: #fafafa;
  border-color: #fafafa;
}
.post__title {
  padding: 1rem;
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.post__title a {
  color: #ff670f;
}
.post__author {
  text-align: right;
  font-size: 0.9rem;
  margin: 10px 0;
  color: #333;
}
.post__author-image {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100%;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.section--small-padding-top {
  padding-top: 24px;
}
.section--small-padding-bottom {
  padding-bottom: 24px;
}
.section__title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
}
.section__box {
  text-align: center;
  padding: 0px 8px 12px 8px;
  border-radius: 0;
  order: 2;
}
.section__box > a {
  color: #ff670f;
}
@media (min-width: 768px) {
  .section__box {
    position: relative;
    margin: 16px 32px;
    padding: 12px 24px;
    border-left: 4px solid #ff670f;
    border-right: unset;
  }
}

.list-group-item {
  background-color: unset;
  border: unset;
  border-bottom: 1px solid #CCC;
}
.list-group-item:last-child {
  border-bottom: unset;
}
.list-group-item a {
  color: unset;
}
.list-group-item a:hover {
  color: #ff670f;
}

.bg-green {
  background-color: #cddc39;
  color: #827717;
}

.bg-dark {
  background-color: #212121;
  color: #fafafa;
}

.bg-light {
  background-color: #fafafa;
  color: #212121;
}

/*# sourceMappingURL=home.css.map */
