$bg-light: #fafafa;
$bg-dark: #212121;

$text-contrast-light: $bg-dark;
$text-contrast-dark: $bg-light;

$color-primary: #ff670f;
$color-violet-faded: #FAFFD8;

$black: #000;
$dark: #444;
$dark-grey: #888;
$grey: #CCC;

$light-green: #cddc39;
$light-green-contrast-light: #f9fbe7;
$light-green-contrast-dark: #827717;