@import "scss/breadcrumb";
@import "scss/colors";
@import "scss/comments";
@import "scss/experiment";
@import "scss/footer";
@import "scss/header";
@import "scss/navbar";
@import "scss/section";
@import "scss/single-post";
@import "scss/thumbnails";
@import "scss/utils";
@import "scss/variables";
@import "scss/wp-widgets";

::-moz-selection {
  color: $text-contrast-dark;
  background: $color-selection;
}

::selection {
  color: $text-contrast-dark;
  background: $color-selection;
}

body {
  background-color: $bg-light;
  color: $text-contrast-light;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bolder;
}