$bg-light: #fafafa;
$bg-dark: #212121;

$text-contrast-light: $bg-dark;
$text-contrast-dark: $bg-light;

$color-primary: #587B7F;
$text-primary: $text-contrast-dark;

$color-secondary: #8DAB7F;
$text-secondary: $text-contrast-dark;

$color-accent: #F7B32B;
$text-accent: $text-contrast-light;

$black: #000;
$dark: #444;
$dark-grey: #888;
$grey: #CCC;
$light-grey: #EEE;

$color-selection: #FF220C;

$light-green: #cddc39;
$light-green-contrast-light: #f9fbe7;
$light-green-contrast-dark: #827717;