.iframe-container {
  iframe {
    display: block;
    margin: auto;
    border: none;
    border-radius: 16px;
    min-width: 1024px;
    min-height: 768px;
    width: 85vw;
  }
}

.experiment-section {
  padding: 8px;
}