@import 'colors';
@import 'variables';

.iframe-container {
  iframe {
    display: block;
    margin: auto;
    border: 1px solid $grey;
    border-radius: 16px;
    min-width: 1024px;
    min-height: 768px;
    width: 85vw;
  }
}

.experiment-section {
  padding: 8px;

  .github-panel {
    color: #FFF;
    background-color: $bg-dark;
    padding: 8px 16px;
    border: 1px solid lighten($bg-dark, 25%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    * {
      margin: 8px 16px;

      @media (min-width: 768px) {
        margin: 0 16px;
      }
    }

    i {
      font-size: 2rem;
    }

    input {
      flex-grow: 1;
      padding: 0 16px;
      border: none;
      border-radius: 8px;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}